# Baza podataka (User servis ima svoju bazu)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=users_db
DB_USERNAME=root
DB_PASSWORD=

# Za Docker koristi:
# DB_HOST=user-db

# JWT
SECRET_KEY=promeni-ovaj-tajni-kljuc-u-produkciji-mora-biti-dugacak
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
